<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

    <!-- Bootstrap JS -->
    <script th:src="@{/bootstrap.min.js}"></script>

    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hello, sbb!</title>
</head>
<body>
<!-- navigation bar-->
<nav th:replace="~{navbar :: navbarFragment}"></nav>


<!-- Default Start -->
<th:block layout:fragment="content"></th:block>
<!-- Default End -->
</body>
</html>